<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="true">


    <!-- SpyMemcached客户端 -->
    <bean id="spyMemcachedClient" class="com.domac.app.support.cache.SpyMemcachedClient">
        <property name="memcachedClient">
            <bean class="net.spy.memcached.spring.MemcachedClientFactoryBean">
                <property name="servers" value="localhost:11211" />
                <!-- 默认是TEXT -->
                <property name="protocol" value="TEXT" />
                <!-- 默认是ARRAY_MOD -->
                <property name="locatorType" value="CONSISTENT" />
                <!-- 默认是2500毫秒 -->
                <property name="opTimeout" value="1000" />
            </bean>
        </property>
        <property name="updateTimeout" value="1000"/>
        <property name="shutdownTimeout" value="1000"/>
    </bean>


    <!-- Memcached 模拟器 (如需测试,请开启)
    <bean id="memcachedSimulator" class="com.domac.app.support.cache.MemcachedSimulator" lazy-init="false">
        <property name="serverUrl" value="localhost:11211" />
    </bean>
    -->

</beans>